body{
    width: 80% !important;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;
    background-color: white;
    border-radius: 0 0 20px 20px;
 }

 ::-webkit-scrollbar {
    
    width: 20px;
    background: white;
}

::-webkit-scrollbar-thumb {
    
    width: 12px;
    background: #2B8EFC;
    border-radius: 2px;
}


#Container-Principal{
    background-color: white;
    border-radius: 0 0 20px 20px;
}
.navbar-principal{
    background-color: white !important;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.logo{
    width: 40px;
    height: 40px;
    object-fit: fill;
}

#carousel-principal{
    height: 90vh!important;
    width: 100%;
}

.imagem-carousel{
    width: 100%;
    height: 90vh!important;
    object-fit: fill;
    opacity: 1;
}

.texto-carousel{
    position: absolute;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1.2em;
    color:#007bff;
    text-shadow: 2px 1px 5px  whitesmoke,
    -2px -1px 5px  whitesmoke;
}

.texto-carousel1{
    left:5%;
    bottom:2%;
}

.texto-carousel2{
    right:5% !important;
    top:25%;
}

.texto-carousel3{
    right:5% !important;
    top:80%;
 }
.carousel-botao{
    top:90% !important;
    position: absolute;
}

#Apresentacao{
    background-color: white !important;
}

.textual{
    font-weight: 400;
    color:gray;
    width: 85%;
}

.foto-textual{
    width: 42%;
    object-fit: cover;
    height: 280px;
}

.form-inscricao{
    width:30%;
}
.form-text{
    font-size:1.6rem;
    font-weight: 500;
    color:gray;

}

footer{
    background-color: lightgray;
    border-radius: 0 0 10px 10px;
}

.footer-text > p{
    margin-bottom: 0!important;
}

.footer-text{
font-size: 0.9rem;
color: gray;
font-weight: 500;
line-height: 2;
}
.icones{
    list-style: none;
}
.icone-social{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.copyright{
    font-weight: 400;
    color:gray;

}

.roboto{
    font-family: 'Roboto', sans-serif;
}